.jumbotron{
    padding: 40px;
    background-color: #ddd;
}
.save{
    width: 100px;
    letter-spacing: 2px;
}
/* .userAddAccount{
    display: none;
}
.message{
    color: red;
}
.editDeleteView{
    display: none;
}
.userEdit{
    display: none;
} */